<%if (messages.success) { %>
    <script>toastAlert("Success", "<%= messages.success %>", "alert-success");</script>
    <% } %>
        <%if (messages.error) { %>
            <script>toastAlert("Error", "<%= messages.error %>", "alert-danger");</script>
            
            <% } %>
                <!-- Side Navagation Bar -->
                <div class="sidebar" style="z-index: 0;">
                    <div class="sidebar-menu">
                        <h5 class="sidebar-title" style="margin-top: 70px;">General</h5>
                        <div class="sidebar-divider"></div>
                        <a href="/Dashboard/bid" class="sidebar-link sidebar-link-with-icon">
                            <span class="sidebar-icon bg-transparent justify-content-start mr-0">
                                <!-- bg-transparent = background-color: transparent, justify-content-start = justify-content: flex-start, mr-0 = margin-right: 0 -->
                                <i class="fa fa-calculator" aria-hidden="true"></i>
                            </span>
                            Bid Section
                        </a>
                        <a href="#" class="sidebar-link sidebar-link-with-icon">
                            <span class="sidebar-icon bg-transparent justify-content-start mr-0">
                                <!-- bg-transparent = background-color: transparent, justify-content-start = justify-content: flex-start, mr-0 = margin-right: 0 -->
                                <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                            </span>
                            Notification Manager
                        </a>
                        <br />
                        <h5 class="sidebar-title">Productivity</h5>
                        <div class="sidebar-divider"></div>
                        <a href="#modal-2" class="sidebar-link sidebar-link-with-icon">
                            <span class="sidebar-icon bg-primary text-white rounded-circle">
                                <!-- bg-primary = background-color: var(--primary-color), text-white = color: white, rounded-circle = border-radius: 50% -->
                                <i class="fa fa-file-word-o" aria-hidden="true"></i>
                            </span>
                            Launch New Scheme
                        </a>
                        <a href="#" class="sidebar-link sidebar-link-with-icon">
                            <span class="sidebar-icon bg-success text-dark rounded-circle">
                                <!-- bg-success = background-color: var(--success-color), text-dark = color: var(--lm-base-text-color), rounded-circle = border-radius: 50% -->
                                <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                            </span>
                            Vendors and Contractors
                        </a>
                        <a href="/transactions" class="sidebar-link sidebar-link-with-icon">
                            <span class="sidebar-icon bg-secondary text-dark rounded-circle">
                                <!-- bg-secondary = background-color: var(--secondary-color), text-dark = color: var(--lm-base-text-color), rounded-circle = border-radius: 50% -->
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            </span>
                            
                            Transaction Manager
                        </a>
                        <a href="#" class="sidebar-link sidebar-link-with-icon">
                            <span class="sidebar-icon bg-danger text-white rounded-circle">
                                <!-- bg-danger = background-color: var(--danger-color), text-white = color: white, rounded-circle = border-radius: 50% -->
                                <i class="fa fa-file-powerpoint-o" aria-hidden="true"></i>
                            </span>
                            Verification Desk
                        </a>
                    </div>
                </div>
                <!-- Side Navagation End -->

                <!-- Modal for add new scheme -->
                <div class="modal" id="modal-2" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <a href="#" class="btn close" role="button" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </a>
                            <h5 class="modal-title">Add A New Scheme</h5>
                            <form action="/addScheme" method="post">
                                <div class="form-group">
                                    <label for="name" class="required">Name</label>
                                    <input type="text" name="name" id="name" class="form-control"
                                        placeholder="Scheme Name" required="required">
                                </div>
                                <div class="form-group">
                                    <label for="cost" class="required">Cost</label>
                                    <input type="text" id="cost" name="cost" class="form-control"
                                        placeholder="Cost of Scheme" required="required">
                                </div>
                                <div class="form-group">
                                    <label for="desc" class="required">Description</label>
                                    <textarea class="form-control" name="description"
                                        placeholder="Give detailed description about scheme/ project"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="date" class="required">Date</label>
                                    <input type="date" id="date" name="date" class="form-control" placeholder="Date"
                                        required="required">
                                </div>
                                <input class="btn btn-danger btn-block" type="submit" value="Launch Scheme">
                            </form>
                        </div>
                    </div>
                </div>

                <!-- modal for approval -->
                <div class="modal" id="modal-6" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <button class="close" data-dismiss="modal" type="button" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title">confirmation To Approve</h5>
                        <p>
                          Are you sure to approve the contract to this contractor. After confirmation this scheme/ contract is allocated to selected person.
                        </p>
                        <div class="text-right mt-20"> <!-- text-right = text-align: right, mt-20 = margin-top: 2rem (20px) -->
                          <button class="btn mr-5" data-dismiss="modal" type="button">cancel</button>
                          <button class="btn btn-primary" data-dismiss="modal" id="cnfrm" type="button" value="true">confirm</button>
                        </div>
                      </div>
                    </div>
                  </div>

            <!-- Modal for Funds  -->
                <div class="modal" id="modal-7" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <a href="#" class="btn close" role="button" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </a>
                            <h5 class="modal-title">Distribute the Fund</h5>
                            <form action="/addFund" method="post">
                                <div class="form-group">
                                    <label for="cost" class="required">Amount to Distribute</label>
                                    <input type="hidden" id="fcontract_id" name="fcontract_id">
                                    <input type="hidden" id="fbid_id" name="fbid_id">
                                    <input type="hidden" id="fcontractor_name" name="fcontractor_name">
                                    <input type="text" id="amount" name="amount" class="form-control"
                                        placeholder="Amount to relese " required="required">
                                </div>
                                
                                <input class="btn btn-danger btn-block" type="submit" value="Add Funds">
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Dashboard Content -->
                <h3 class="ml-10">Latest bids </h3>

                <% if (typeof allBids !='object' ) { %>
                    <div class="card">

                        <div class="row">
                            <div class="col-10">
                                <h2 class="card-title">
                                    Scheme Name 1
                                    <span class="badge badge-danger">New</span>
                                </h2>

                                <div>Scheme Description</div>
                                <div>Name of Vendors who are interested in this Scheme</div>
                                <div>Scheme Launched By :</div>
                                <div>Time and Budget Estimation :</div>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-success btn-sm" style="margin:10px;" type="button">Delete
                                    Scheme</button>
                                <button class="btn btn-secondary btn-sm" style="margin:10px;" type="button">Action
                                    Buttons</button>
                                <button class="btn btn-primary btn-sm"  style="margin:10px;" type="button">Update
                                    Scheme</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="row">
                            <div class="col-10">
                                <h2 class="card-title">
                                    Scheme Name 2
                                    <span class="badge badge-danger">New</span>
                                </h2>

                                <div>Scheme Description</div>
                                <div>Name of Vendors who are interested in this Scheme</div>
                                <div>Scheme Launched By :</div>
                                <div>Time and Budget Estimation :</div>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-success btn-sm" style="margin:10px;" type="button">Delete
                                    Scheme</button>
                                <button class="btn btn-secondary btn-sm" style="margin:10px;" type="button">Action
                                    Buttons</button>
                                <button class="btn btn-primary btn-sm" style="margin:10px;" type="button">Update
                                    Scheme</button>
                            </div>
                        </div>
                    </div>

                    <% } else { %>

                    </div>
                        <% allBids.forEach((bid)=> { %>
                            <% if(bid.bid_id !=0 && bid.contractor_name !="") { %>
                                <div class="card shadow-lg border rounded" id="<%= bid.bid_id %>">
                                    <div class="row">
                                        <div class="col-10">
                                            <h2 class="card-title d-flex">
                                            Name of Contractor: <%= bid.contractor_name %>
                                            <% if(bid.isApprove==true) { %>
                                                <span class="badge badge-danger"> Allocated </span>
                                            <% } %>
                                            </h2>
                                            <div>
                                                <h5>
                                                    <h5 id="contractId" style="display:none"><%= bid.contract_id %></h5>
                                                    Contract Name : <%= bid.contract_name %>
                                                </h5>
                                            </div>
                                            <div class="font-size-16">
                                            Bid Amount:  <%= bid.bid_amount %> (Rs)
                                            </div>
                                            <div>Date of Bid : <%= bid.createdAt %>
                                            </div>
                            
                                        </div>
                                        <div class="col-2">

                                            <div class="dropdown  with-arrow">
                                                <button class="btn btn-secondary btn-md" data-toggle="dropdown" type="button" id="..." aria-haspopup="true" aria-expanded="false" style="margin:10px;">
                                                    Action <i class="fa fa-angle-down ml-5" aria-hidden="true"></i> <!-- ml-5 = margin-left: 0.5rem (5px) -->
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="...">
                                                    <button  class="btn btn-primary btn-sm" id="<%= bid.bid_id %>"
                                                        onclick="approveBid('<%= bid.bid_id %>','<%= bid.contract_id %>','<%= bid.bid_amount %>' )" style="margin:10px;"
                                                        type="button">Approve</button>
                                                        <button  class="btn btn-danger btn-md" id="<%= bid.bid_id %>"
                                                            onclick="deleteBid('<%= bid.bid_id %>' )" style="margin:10px;"
                                                            type="button">Delete</button>
                                                        <button onclick="addFunds('<%= bid.bid_id %>','<%= bid.contract_id %>','<%= bid.bid_amount %>','<%= bid.contractor_name %>')" class="btn btn-secondary btn-sm" id="<%= bid.id %>"
                                                            style="margin:10px;"
                                                            type="button">Add Funds</button>
                                                </div>
                                            </div>
                                            
                                    </div>
                                    </div>
                                </div>
                                    <% } %>
                                        <% }) %>
                
                                
                                <% } %>
                                    <!-- Dashboard Content End -->
                                    <script>
                                        
                                        
                                        // Add Sidebar to Page
                                        $("#sidebar").addClass("with-sidebar");


                                        function approveBid(id, contractId, bidAmount) {
                                            const bid_id = parseInt(id);
                                                halfmoon.toggleModal('modal-6');
                                                $('#cnfrm').click(function() {
                                                    $.ajax({
                                                        type: "post",
                                                        url : "/Dashboard/approve",
                                                        data : { bid_id, contractId ,bidAmount },
                                                        success: function (response) {
                                                            toastAlert("Success", "Approved", "alert-success");
                                                        },
                                                        error: function(xhr) {
                                                            toastAlert("Error", xhr.responseText, "alert-danger");
                                                        }
                                                    });
                                                });
                                        }
                                        function deleteBid(bidId) {
                                            halfmoon.toggleModal('modal-6');
                                            $("#cnfrm").click(function() {
                                                const bid_id = parseInt(bidId)
                                                $.get(`/Dashboard/delete/${bid_id}`, function(data) {
                                                    console.log(data.success)
                                                    toastAlert("Success", "Deleted", "alert-success");
                                                    $(`#${bid_Id}`).remove()
                                                    if(data.success=="Deleted") {
                                                        toastAlert("Success", "Deleted", "alert-success");
                                                    }
                                                    else {
                                                        toastAlert("Error", "Not Deleted", "alert-danger");
                                                    }
                                            });
                                        })
                                        }

                                        function addFunds(bid_id, contract_id, amount, contractor_name ) {
                                            halfmoon.toggleModal('modal-7');
                                            $('#amount').val(amount);
                                            $('#fcontract_id').val(contract_id);
                                            $('#fbid_id').val(bid_id);
                                            $('#fcontractor_name').val(contractor_name);
                                        }
                                    </script>