<%if (messages.success) { %>
    <script>toastAlert("Success", "<%= messages.success %>", "alert-success");</script>
    <% } %>
        <%if (messages.error) { %>
            <script>toastAlert("Error", "<%= messages.error %>", "alert-danger");</script>
            <% } %>
                <!-- Side Navagation Bar -->
                <div class="sidebar" style="z-index: 0;">
                    <div class="sidebar-menu">
                        <h5 class="sidebar-title" style="margin-top: 70px;">General</h5>
                        <div class="sidebar-divider"></div>
                        <a href="/Dashboard/bid" class="sidebar-link sidebar-link-with-icon">
                            <span class="sidebar-icon bg-transparent justify-content-start mr-0">
                                <!-- bg-transparent = background-color: transparent, justify-content-start = justify-content: flex-start, mr-0 = margin-right: 0 -->
                                <i class="fa fa-calculator" aria-hidden="true"></i>
                            </span>
                            Bid Section
                        </a>
                        <a href="#" class="sidebar-link sidebar-link-with-icon">
                            <span class="sidebar-icon bg-transparent justify-content-start mr-0">
                                <!-- bg-transparent = background-color: transparent, justify-content-start = justify-content: flex-start, mr-0 = margin-right: 0 -->
                                <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                            </span>
                            Notification Manager
                        </a>
                        <br />
                        <h5 class="sidebar-title">Productivity</h5>
                        <div class="sidebar-divider"></div>
                        <a href="#modal-2" class="sidebar-link sidebar-link-with-icon">
                            <span class="sidebar-icon bg-primary text-white rounded-circle">
                                <!-- bg-primary = background-color: var(--primary-color), text-white = color: white, rounded-circle = border-radius: 50% -->
                                <i class="fa fa-file-word-o" aria-hidden="true"></i>
                            </span>
                            Launch New Scheme
                        </a>
                        <a href="#" class="sidebar-link sidebar-link-with-icon">
                            <span class="sidebar-icon bg-success text-dark rounded-circle">
                                <!-- bg-success = background-color: var(--success-color), text-dark = color: var(--lm-base-text-color), rounded-circle = border-radius: 50% -->
                                <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                            </span>
                            Vendors and Contractors
                        </a>
                        <a href="/transactions" class="sidebar-link sidebar-link-with-icon">
                            <span class="sidebar-icon bg-secondary text-dark rounded-circle">
                                <!-- bg-secondary = background-color: var(--secondary-color), text-dark = color: var(--lm-base-text-color), rounded-circle = border-radius: 50% -->
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            </span>
                            
                            Transaction Manager
                        </a>
                        <a href="#" class="sidebar-link sidebar-link-with-icon">
                            <span class="sidebar-icon bg-danger text-white rounded-circle">
                                <!-- bg-danger = background-color: var(--danger-color), text-white = color: white, rounded-circle = border-radius: 50% -->
                                <i class="fa fa-file-powerpoint-o" aria-hidden="true"></i>
                            </span>
                            Verification Desk
                        </a>
                    </div>
                </div>
                <!-- Side Navagation End -->

                <!-- Modal for add new scheme -->
                <div class="modal" id="modal-2" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <a href="#" class="btn close" role="button" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </a>
                            <h5 class="modal-title">Add A New Scheme</h5>
                            <form action="/addScheme" method="post">
                                <div class="form-group">
                                    <label for="name" class="required">Name</label>
                                    <input type="text" name="name" id="name" class="form-control"
                                        placeholder="Scheme Name" required="required">
                                </div>
                                <div class="form-group">
                                    <label for="cost" class="required">Cost</label>
                                    <input type="text" id="cost" name="cost" class="form-control"
                                        placeholder="Cost of Scheme" required="required">
                                </div>
                                <div class="form-group">
                                    <label for="desc" class="required">Description</label>
                                    <textarea class="form-control" name="description"
                                        placeholder="Give detailed description about scheme/ project"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="date" class="required">Date</label>
                                    <input type="date" id="date" name="date" class="form-control" placeholder="Date"
                                        required="required">
                                </div>
                                <input class="btn btn-danger btn-block" type="submit" value="Launch Scheme">
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Modal for updating a scheme -->
                <div class="modal" id="modal-3" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <a href="#" class="btn close" role="button" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </a>
                            <h5 class="modal-title">Update Scheme</h5>
                            <form action="/updateScheme" method="post">
                                <input type="hidden" id="scheme_id" name="scheme_id">
                                <div class="form-group">
                                    <label for="name" class="required">Name</label>
                                    <input type="text" name="name" id="name" class="form-control"
                                        placeholder="Scheme Name" required="required">
                                </div>
                                <div class="form-group">
                                    <label for="cost" class="required">Cost</label>
                                    <input type="text" id="cost" name="cost" class="form-control"
                                        placeholder="Cost of Scheme" required="required">
                                </div>
                                <div class="form-group">
                                    <label for="desc" class="required">Description</label>
                                    <textarea class="form-control" name="description" id="description"
                                        placeholder="Give detailed description about scheme/ project"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="date" class="required">Date</label>
                                    <input type="date" id="date" name="date" class="form-control" placeholder="Date"
                                        required="required">
                                </div>
                                <input class="btn btn-secondary btn-block" type="submit" value="Update Scheme">
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Dashboard Content -->
                <h3 class="ml-10">Latest Contract and Schemes </h3>

                <% if (typeof allSchemes !='object' ) { %>
                    <div class="card">

                        <div class="row">
                            <div class="col-10">
                                <h2 class="card-title">
                                    Scheme Name 1
                                    <span class="badge badge-danger">New</span>
                                </h2>

                                <div>Scheme Description</div>
                                <div>Name of Vendors who are interested in this Scheme</div>
                                <div>Scheme Launched By :</div>
                                <div>Time and Budget Estimation :</div>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-success btn-sm" style="margin:10px;" type="button">Delete
                                    Scheme</button>
                                <button class="btn btn-secondary btn-sm" style="margin:10px;" type="button">Action
                                    Buttons</button>
                                <button class="btn btn-primary btn-sm"  style="margin:10px;" type="button">Update
                                    Scheme</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="row">
                            <div class="col-10">
                                <h2 class="card-title">
                                    Scheme Name 2
                                    <span class="badge badge-danger">New</span>
                                </h2>

                                <div>Scheme Description</div>
                                <div>Name of Vendors who are interested in this Scheme</div>
                                <div>Scheme Launched By :</div>
                                <div>Time and Budget Estimation :</div>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-success btn-sm" style="margin:10px;" type="button">Delete
                                    Scheme</button>
                                <button class="btn btn-secondary btn-sm" style="margin:10px;" type="button">Action
                                    Buttons</button>
                                <button class="btn btn-primary btn-sm" style="margin:10px;" type="button">Update
                                    Scheme</button>
                            </div>
                        </div>
                    </div>

                    <% } else { %>

                    </div>

                        <% allSchemes.forEach((scheme)=> { %>
                            <% if(scheme.id !=0 && scheme.isAlloted == true  ) { %>
                                <div class="card shadow-lg border rounded" id="<%= scheme.id %>">
                                    <div class="row">
                                        <div class="col-10">
                                            <h2 class="card-title">
                                                <%= scheme.name.toUpperCase() %>
                                                    <span class="badge badge-danger">New</span>
                                                    <span class="badge badge-success">Allocated</span>
                                            </h2>

                                            <div class="font-size-16">
                                                Contractor Address : <%= scheme.contractor %>
                                            </div>

                                            <div class="font-size-16">
                                                <%= scheme.description.substring(0,350) %> ....
                                            </div>
                                            <div>Date of End (Biding) : <%= scheme.date %>
                                            </div>
                                            <div>Budget Estimation : <%= scheme.cost %> Rs
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <button class="btn btn-success btn-md" id="<%= scheme.id %>"
                                                onClick="deleteScheme('<%= scheme.id %>')" style="margin:10px;"
                                                type="button">Delete Scheme</button>
                                            <div class="dropdown  with-arrow">
                                                <button class="btn btn-secondary btn-md" data-toggle="dropdown" type="button" id="..." aria-haspopup="true" aria-expanded="false" style="margin:10px;">
                                                    Action <i class="fa fa-angle-down ml-5" aria-hidden="true"></i> <!-- ml-5 = margin-left: 0.5rem (5px) -->
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="...">
                                                    <button  class="btn btn-primary btn-sm" id="<%= scheme.id %>"
                                                        onclick="Updatevalue('<%= scheme.id %>')" style="margin:10px;"
                                                        type="button">Update Scheme</button>
                                                </div>
                                            </div>
                                    </div>
                                    </div>
                                </div>
                                <hr>
                                    <% } else if(scheme.id !=0 && scheme.isAlloted == false  ) { %>

                                        <div class="card shadow-lg border rounded" id="<%= scheme.id %>">
                                            <div class="row">
                                                <div class="col-10">
                                                    <h2 class="card-title">
                                                        <%= scheme.name.toUpperCase() %>
                                                            <span class="badge badge-danger">New</span>
                                                    </h2>
        
                                                    <div class="font-size-16">
                                                        <%= scheme.description.substring(0,350) %> ....
                                                    </div>
                                                    <div>Date of End (Biding) : <%= scheme.date %>
                                                    </div>
                                                    <div>Budget Estimation : <%= scheme.cost %> Rs
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <button class="btn btn-success btn-md" id="<%= scheme.id %>"
                                                        onClick="deleteScheme('<%= scheme.id %>')" style="margin:10px;"
                                                        type="button">Delete Scheme</button>
                                                    <div class="dropdown  with-arrow">
                                                        <button class="btn btn-secondary btn-md" data-toggle="dropdown" type="button" id="..." aria-haspopup="true" aria-expanded="false" style="margin:10px;">
                                                            Action <i class="fa fa-angle-down ml-5" aria-hidden="true"></i> <!-- ml-5 = margin-left: 0.5rem (5px) -->
                                                        </button>
                                                        <div class="dropdown-menu" aria-labelledby="...">
                                                            <button  class="btn btn-primary btn-sm" id="<%= scheme.id %>"
                                                                onclick="Updatevalue('<%= scheme.id %>')" style="margin:10px;"
                                                                type="button">Update Scheme</button>
                                                        </div>
                                                    </div>
                                            </div>
                                            </div>
                                        </div>
                                    <% } %>
                                        <% }) %>
                
                                
                                <% } %>
                                    <!-- Dashboard Content End -->
                                    <script>
                                        // Change user Role
                                        document.getElementById("userRole").innerHTML = "<%= userRole %>"
                                        // Add Sidebar to Page
                                        $("#sidebar").addClass("with-sidebar")

                                        function deleteScheme(id) {
                                            const response = confirm("Are you sure, Once deleted it can not be retrive again")
                                            if (response) {
                                                $.get(`/deleteScheme/${id}`, (data, status) => {
                                                    if (status === 'success') {
                                                        $(`#${id}`).remove()
                                                        toastAlert('Success',"Scheme Deleted Successfully","alert-success");
                                                    }
                                                });
                                            }
                                        }

                                        function Updatevalue(id) {
                                            const scheme_id = parseInt(id);
                                            $.get(`/getAScheme/${scheme_id}`, (data, status)=>{
                                                halfmoon.toggleModal('modal-3');
                                                $('#modal-3 #scheme_id').val(data[0]);
                                                $('#modal-3 #name').val(data[1]);
                                                $('#modal-3 #description').val(data[2]);
                                                $('#modal-3 #date').val(data[3]);
                                                $('#modal-3 #cost').val(data[5]);
                                            })
                                        }
                                    </script>