<%if (messages.success) { %>
    <script>toastAlert("Success", "<%= messages.success %>", "alert-success");</script>
    <% } %>
        <%if (messages.error) { %>
            <script>toastAlert("Error", "<%= messages.error %>", "alert-danger");</script>
            <% } %>
                <!-- Side Navagation Bar -->
                <div class="sidebar" style="z-index: 0;">
                    <div class="sidebar-menu">
                        <h5 class="sidebar-title" style="margin-top: 70px;">General</h5>
                        <div class="sidebar-divider"></div>
                        <a href="#" class="sidebar-link sidebar-link-with-icon">
                            <span class="sidebar-icon bg-transparent justify-content-start mr-0">
                                <!-- bg-transparent = background-color: transparent, justify-content-start = justify-content: flex-start, mr-0 = margin-right: 0 -->
                                <i class="fa fa-calculator" aria-hidden="true"></i>
                            </span>
                            My Materials
                        </a>
                        <a href="#" class="sidebar-link sidebar-link-with-icon">
                            <span class="sidebar-icon bg-transparent justify-content-start mr-0">
                                <!-- bg-transparent = background-color: transparent, justify-content-start = justify-content: flex-start, mr-0 = margin-right: 0 -->
                                <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                            </span>
                            Notification Manager
                        </a>
                        <br />
                        <h5 class="sidebar-title">Productivity</h5>
                        <div class="sidebar-divider"></div>
                        <a href="#modal-2" class="sidebar-link sidebar-link-with-icon">
                            <span class="sidebar-icon bg-primary text-white rounded-circle">
                                <!-- bg-primary = background-color: var(--primary-color), text-white = color: white, rounded-circle = border-radius: 50% -->
                                <i class="fa fa-file-word-o" aria-hidden="true"></i>
                            </span>
                            Add New Material
                        </a>
                        
                        <a href="#" class="sidebar-link sidebar-link-with-icon">
                            <span class="sidebar-icon bg-danger text-white rounded-circle">
                                <!-- bg-danger = background-color: var(--danger-color), text-white = color: white, rounded-circle = border-radius: 50% -->
                                <i class="fa fa-file-powerpoint-o" aria-hidden="true"></i>
                            </span>
                            Verification Desk
                        </a>
                    </div>
                </div>
                <!-- Side Navagation End -->

                <!-- Modal for add new material -->
                <div class="modal" id="modal-2" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <a href="#" class="btn close" role="button" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </a>
                            <h5 class="modal-title">Add New material</h5>
                            <form action="/addMaterial" method="post">
                                <div class="form-group">
                                    <label for="name" class="required">Name</label>
                                    <input type="text" name="name" id="name" class="form-control"
                                        placeholder="Material Name" required="required">
                                </div>
                                <div class="form-group">
                                    <label for="cost" class="required">Cost</label>
                                    <input type="text" id="cost" name="cost" class="form-control"
                                        placeholder="Cost of Material" required="required">
                                </div>
                
                                <input class="btn btn-danger btn-block" type="submit" value="Add Material">
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Modal for updating a material -->
                <div class="modal" id="modal-3" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <a href="#" class="btn close" role="button" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </a>
                            <h5 class="modal-title">Update Material</h5>
                            <form action="/updateMaterial" method="post">
                                <input type="hidden" id="Material_id" name="Material_id">
                                <div class="form-group">
                                    <label for="name" class="required">Name</label>
                                    <input type="text" name="name" id="name" class="form-control"
                                        placeholder="Material Name" required="required">
                                </div>
                                <div class="form-group">
                                    <label for="cost" class="required">Cost</label>
                                    <input type="text" id="cost" name="cost" class="form-control"
                                        placeholder="Cost of Material" required="required">
                                </div>
                                
                                <input class="btn btn-secondary btn-block" type="submit" value="Update Material">
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Dashboard Content -->
                <h3 class="text-center font-weight-bold">Welcome to Suppliers Dashboard</h3>
                <% if (typeof allMaterials !='object' ) { %>
                    <div class="card">

                        <div class="row">
                            <div class="col-10">
                                <h2 class="card-title">
                                    Material Name 1
                                    <span class="badge badge-danger">New</span>
                                </h2>

                                <div>Material Description</div>
                                <div>Time and Budget Estimation :</div>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-success btn-sm" style="margin:10px;" type="button">Delete
                                    Material</button>
                                <button class="btn btn-secondary btn-sm" style="margin:10px;" type="button">Action
                                    Buttons</button>
                                <button class="btn btn-primary btn-sm"  style="margin:10px;" type="button">Update
                                    Material</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="row">
                            <div class="col-10">
                                <h2 class="card-title">
                                    Material Name 2
                                    <span class="badge badge-danger">New</span>
                                </h2>

                                <div>Material Description</div>
                                <div>Time and Budget Estimation :</div>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-success btn-sm" style="margin:10px;" type="button">Delete
                                    Material</button>
                                <button class="btn btn-secondary btn-sm" style="margin:10px;" type="button">Action
                                    Buttons</button>
                                <button class="btn btn-primary btn-sm" style="margin:10px;" type="button">Update
                                    Material</button>
                            </div>
                        </div>
                    </div>

                    <% } else { %>

                    </div>
                        <% allMaterials.forEach((Material)=> { %>
                            <% if(Material.id !=0) { %>
                                <div class="card" id="<%= Material.id %>">
                                    <div class="row">
                                        <div class="col-10">
                                            <h2 class="card-title">
                                                <%= Material.name %>
                                                    <span class="badge badge-danger">New</span>
                                            </h2>
                                            <div>Budget Estimation : <%= Material.price %>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <button class="btn btn-success btn-md" id="<%= Material.id %>"
                                                onClick="deleteMaterial('<%= Material.id %>')" style="margin:10px;"
                                                type="button">Delete Material</button>
                                            <div class="dropdown  with-arrow">
                                                <button class="btn btn-secondary btn-md" data-toggle="dropdown" type="button" id="..." aria-haspopup="true" aria-expanded="false" style="margin:10px;">
                                                    Action <i class="fa fa-angle-down ml-5" aria-hidden="true"></i> <!-- ml-5 = margin-left: 0.5rem (5px) -->
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="...">
                                                    <button  class="btn btn-primary btn-sm" id="<%= Material.id %>"
                                                        onclick="Updatevalue('<%= Material.id %>')" style="margin:10px;"
                                                        type="button">Update Material</button>
                                                </div>
                                            </div>
                                    </div>
                                    </div>
                                </div>
                                    <% } %>
                                        <% }) %>
                
                                
                                <% } %>
                                    <!-- Dashboard Content End -->
                                    <script>
                                        // Change user Role
                                        document.getElementById("userRole").innerHTML = "<%= userRole %>"
                                        // Add Sidebar to Page
                                        $("#sidebar").addClass("with-sidebar")

                                        function deleteMaterial(id) {
                                            const response = confirm("Are you sure, Once deleted it can not be retrive again")
                                            if (response) {
                                                $.get(`/deleteMaterial/${id}`, (data, status) => {
                                                    if (status === 'success') {
                                                        $(`#${id}`).remove();
                                                        toastAlert("Success", "Material deleted!","alert-success");
                                                    }
                                                });
                                            }
                                        }

                                        function Updatevalue(id) {
                                            const Material_id = parseInt(id);
                                            $.get(`/getAMaterial/${Material_id}`, (data, status)=>{
                                                halfmoon.toggleModal('modal-3');
                                                $('#modal-3 #Material_id').val(data[0]);
                                                $('#modal-3 #name').val(data[1]);
                                                $('#modal-3 #cost').val(data[3]);
                                            })
                                        }
                                    </script>